* {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.cuerpo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main"
    "footer";
  background-color: #fff;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 41.09px auto auto;
  grid-template-areas:
    "nav"
    "contenedor"
    "footer";
  background-color: #fff;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #eee;
}

.contenedor {
  grid-area: contenedor;
}
