* {
  font-family: "Roboto", sans-serif;
}

*::-webkit-scrollbar {
  display: none; /* Ocultar scroll */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.cuerpo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main"
    "footer";
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #fff;
}

a:-webkit-any-link {
  text-decoration: none;
}

.responsive {
  width: 100%;
  max-width: 900px;
  margin: auto;
}
